<?php
session_start();
$token = bin2hex(mcrypt(32, MCRYPT_DEV_URANDOM));
$_SESSION['token'] = $token;
echo $token;
?>

<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un sandwich</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ajouter un sandwich</h1>
        </div>
    </div>
    <div class="card" style="width: 20rem; margin-left: 40vw;">
        <div class="card-body">
            <form method="post" action="postsandwich" enctype='application/json'>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="type_pain">Type pain</label>
                    <input type="text" class="form-control" id="type_pain" name="type_pain" placeholder="Pain">
                </div>
                <label for="categorie">Catégorie</label>
                <div class="card" id="categorie">
                <div class="card-body">
                {% for cat in cats %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="{{ cat.nom }}" name="{{ cat.id }}">
                        <label class="form-check-label" for="{{ cat.nom }}">{{ cat.nom }}</label>
                    </div>
                {% endfor %}
                </div>
                </div>
                <br>
                <input type="hidden" name="token" id="token" value="<?php echo $token; ?>" />
                <center><button type="submit" class="btn btn-success">Enregistrer</button></center>
            </form>
            <br>
            <center><a href="sandwichs" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Retour</a></center>
        </div>
        </div>
</body>
</html>