<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Connexion</h1>
        </div>
    </div>
    <div class="card" style="width: 20rem; margin-left: 40vw;">
        <div class="card-body">
            <form method="post" action="login" enctype='application/json'>
                <div class="form-group">
                    <label for="identifiant">Identifiant</label>
                    <input type="text" class="form-control" id="identifiant" name="identifiant" placeholder="Identifiant">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Mot de passe">
                </div>
                <center><button type="submit" class="btn btn-success">Se connecter</button></center>
            </form>
        </div>
        </div>
</body>
</html>