<!DOCTYPE html>
<html>
<head>
	<title>Sandwichs par catégorie</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Sandwichs par catégorie</h1>
		</div>
	</div>

	   {% for cat in cats %}
		<ul class="list-group">
	         <li class="list-group-item"><strong>Nom : </strong>{{cat.nom}}</li>
	         <li class="list-group-item"><strong>Description : </strong>{{cat.description}}</li>
	         <li class="list-group-item"><strong>Sandwichs :
					 <ul class="list-group">
                         {% for value in cat.sandwichs %}
						 <li class="list-group-item">
						 	<strong>Nom : </strong>{{value.nom}}
						 	<form action="http://gest.lbs.local:11080/rest.php/sandwichs">
						 		<button type="button" class="btn btn-danger">Supprimer</button>
						 	</form>
						 </li>
                         {% endfor %}<br>
					 </ul>
				 </strong></li>
		</ul>
		   <hr>
	   {% endfor %}
</body>
</html>